/* shared styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1250px;
}

.align-center {
  margin: 0 auto;
}

.primary-color-text {
  color: #e55473;
}

.btn-primary {
  border: none;
  background: none;
  background-color: #e55473;
  padding: 17px 35px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 25px;
}

.text-center {
  text-align: center;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 800;
}

.section-margin {
  margin-bottom: 120px;
}

/* header styles */

.header {
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 150px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.banner-title {
  color: #272727;
  font-size: 70px;
  margin-bottom: 25px;
  font-weight: 800;
}

.banner-description {
  margin-bottom: 25px;
}

.banner-img {
  width: 530px;
}

/* featured section styles */

.featured-items-description {
  margin-bottom: 40px;
}

.featured-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-item-img-container {
  width: 400px;
  height: 460px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1000px 1000px 0px 0px;
  margin-bottom: 30px;
}

.featured-item-1 .featured-item-img-container {
  background: rgba(167, 33, 98, 0.15);
}

.featured-item-1 img {
  height: 365px;
}

.featured-item-2 .featured-item-img-container {
  background: rgba(5, 151, 160, 0.15);
}

.featured-item-2 img {
  height: 310px;
  margin-bottom: 50px;
}

.featured-item-3 .featured-item-img-container {
  background: rgba(71, 125, 17, 0.15);
}

.featured-item-3 img {
  height: 400px;
}

.featured-item-link {
  color: #272727;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

/* hot deals section styles */

.hot-deals {
  background-color: rgba(229, 84, 115, 0.05);
}

.hot-deals-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 175px;
}

.hot-deals-text {
  padding-top: 60px;
}

.hot-deals-description {
  margin-bottom: 20px;
}

.hot-deals-img {
  height: 360px;
}

.hot-deals button {
  display: block;
  margin: 0 auto;
}

/* instagram section styles */

.instagram-description {
  margin-bottom: 40px;
}

.instagram-images-container {
  display: flex;
  justify-content: space-between;
}

.instagram-images-container img {
  height: 345px;
}

/* latest deals styles */

.latest-deals {
  background-image: url("../assets/latest-deals.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  border-radius: 8px;
}

.latest-deals-description {
  margin-bottom: 40px;
}

.latest-deals-form {
  display: flex;
  align-items: stretch;
  width: 725px;
  margin: 0 auto;
  gap: 15px;
}

.latest-deals-form input {
  font-family: inherit;
}

.latest-deals-form input[type="email"] {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.latest-deals-form input[type="submit"] {
  padding: 15px 30px;
}

/* footer styles */

.footer {
  background-color: #111010;
  padding: 120px 0;
}

.footer-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}

.footer-disclaimer {
  display: block;
  color: rgba(255, 255, 255, 0.4);
}
