/* shared styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
}

.align-center {
  margin: 0 auto;
}

.primary-color-text {
  color: #e55473;
}

.btn-primary {
  border: none;
  background: none;
  background-color: #e55473;
  padding: 20px 43px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.text-center {
  text-align: center;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 800;
}

.section-margin {
  margin-bottom: 128px;
}

/* header styles */

.header {
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 178px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  margin-bottom: 32px;
  font-weight: 800;
}

.banner-description {
  margin-bottom: 32px;
}

.banner-img {
  height: 800px;
}

/* featured section styles */

.featured-items-description {
  margin-bottom: 48px;
}

.featured-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-item-img-container {
  width: 464px;
  height: 538px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1000px 1000px 0px 0px;
  margin-bottom: 30px;
}

.featured-item-1 .featured-item-img-container {
  background: rgba(167, 33, 98, 0.15);
}

.featured-item-1 img {
  width: 310px;
}

.featured-item-2 .featured-item-img-container {
  background: rgba(5, 151, 160, 0.15);
}

.featured-item-2 img {
  height: 370px;
  margin-bottom: 50px;
}

.featured-item-3 .featured-item-img-container {
  background: rgba(71, 125, 17, 0.15);
}

.featured-item-3 img {
  width: 314px;
}

.featured-item-name {
  color: #272727;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-decoration: underline;
}

/* services section styles */

.services {
  padding: 86px 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service-img {
  margin-bottom: 24px;
}

.service-description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* hot deals section styles */

.hot-deals {
  background-color: rgba(229, 84, 115, 0.05);
}

.hot-deals-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 200px;
}

.hot-deals-text {
  padding-top: 60px;
}

.hot-deals-description {
  margin-bottom: 20px;
}

.hot-deals-img {
  height: 420px;
}

.hot-deals button {
  display: block;
  margin: 0 auto;
}

/* instagram section styles */

.instagram-description {
  margin-bottom: 40px;
}

.instagram-images-container {
  display: flex;
  justify-content: space-between;
}

.instagram-images-container img {
  height: 396px;
}

/* blessings styles */

.blessings {
  background-color: rgb(238, 238, 238);
  padding: 100px 0;
}

.blessings-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blessings-title {
  font-size: 60px;
  color: #272727;
  text-align: left;
  margin-bottom: 24px;
  font-weight: 800;
}

.blessings-description {
  margin-bottom: 24px;
}

.blessings-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.blessings-img {
  height: 425px;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.25);
}

/* latest deals styles */

.latest-deals {
  background-image: url("./../assets/latest-deals.png");
  background-size: cover;
  background-position: center;
  padding: 122px 0;
  border-radius: 8px;
}

.latest-deals-title {
  margin-bottom: 16px;
}

.latest-deals-description {
  margin-bottom: 48px;
}

.latest-deals-form {
  display: flex;
  align-items: stretch;
  width: fit-content;
  margin: 0 auto;
  gap: 15px;
}

.latest-deals-form input {
  font-family: inherit;
}

.latest-deals-form input[type="email"] {
  border: none;
  border-radius: 8px;
  padding: 23px;
  width: 650px;
  font-size: 16px;
}

.latest-deals-form input[type="submit"] {
  padding: 18px 30px;
}

/* footer styles */

.footer {
  background-color: #111010;
  padding: 128px 0;
}

.footer-title {
  color: #fff;
  font-size: 48px;
  margin-bottom: 24px;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 32px;
}

.footer-disclaimer {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
