/* shared styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1250px;
}

.align-center {
  margin: 0 auto;
}

.btn-primary {
  border: none;
  background: none;
  background-color: #e55473;
  padding: 17px 35px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 25px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

/* header styles */

.header {
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 150px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.banner-title {
  color: #272727;
  font-size: 70px;
  margin-bottom: 25px;
  font-weight: 800;
}

.banner-description {
  margin-bottom: 25px;
}

.banner-img {
  width: 530px;
}

/* featured items section styles */

.featured-flowers-description {
  text-align: center;
  margin-bottom: 40px;
}

.featured-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-item-img-container {
  width: 400px;
  height: 460px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1000px 1000px 0px 0px;
  margin-bottom: 30px;
}

.featured-item-1 .featured-item-img-container {
  background: rgba(167, 33, 98, 0.15);
}

.featured-item-1 img {
  height: 365px;
}

.featured-item-2 .featured-item-img-container {
  background: rgba(5, 151, 160, 0.15);
}

.featured-item-2 img {
  height: 300px;
  margin-bottom: 50px;
}

.featured-item-3 .featured-item-img-container {
  background: rgba(71, 125, 17, 0.15);
}

.featured-item-3 img {
  height: 400px;
}

.featured-item-link {
  color: #272727;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
